@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(185, 240, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

nav img {
    max-width: 300px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li a {
    padding-left: 15px;
    color: black;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: calc(100vh - 62.14px);
    background-color: rgb(248, 202, 248);
}

header h1 {
    font-size: 60px;
    padding-bottom: 20px;
}

header p {
    font-size: 30px;
}

header img {
    width: 100%;
}

.header__img--wrapper {
    width: 100%;
    max-width: 600px;
}

.header__description--button {
    background-color: rgb(0, 212, 212);
    border: none;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

#about, #discord, #contact, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    background-color: lightgoldenrodyellow;
}

#about h2 {
    font-size: 50px;
    padding: 20px;
}

.row {
    display: flex;
    padding: 35px;
    width: 100%;
    max-width: 1200px;
}

#about img {
    width: 100%;
}

.about__img--wrapper {
    width: 90%;
}

.about-text p {
    margin-bottom: 24px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 1.4em;
}

#discord {
    background-color: rgb(213, 252, 253);
}

#discord h2 {
    font-size: 50px;
    padding: 20px;
}

#discord p {
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 1.4em;
}

#discord img {
    width: 100%;
}

.discord__img--wrapper {
    width: 120%;
}

#contact {
    background-color: rgb(232, 254, 255);
}

#contact h2 {
    padding: 24px;
    font-size: 50px;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 24px;
}

#contact label {
    font-weight: bold;
}

#contact input {
    height: 35px;
    font-size: 18px;
    padding-left: 8px;
    margin-bottom: 24px;
}

#contact textarea {
    padding-left: 8px;
    padding-top: 5px;
    margin-bottom: 24px;
    font-size: 18px;
    resize: none;
}

#contact button {
    margin-bottom: 36px;
    background-color: rgb(0, 212, 212);
    border: none;
    color: white;
    height: 36px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: rgb(185, 240, 248);
}

footer img {
    width: 100%;
    max-width: 500px;
    padding: 24px;
}

footer a {
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding: 0 12.5px;
}

footer p {
    padding: 30px;
    font-style: italic;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 728px) {
    .row, header {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        text-align: center;
        font-size: 50px;
    }

    .header__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__description--button {
        min-width: 240px;
        margin-bottom: 20px;
    }

    #discord .row{
        flex-direction: column-reverse;
    }

    p {
        text-align: center;
        font-size: 28px;
    }

    nav ul {
        display: none;
    }

    footer {
       padding: 0 24px;
    }

    .footer-links a {
        font-size: 16px;
        padding: 0 6px;
    }

    footer p {
        font-size: 12px;
    }
}